.container {
    display: block;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: .8em;
    position: relative;
    overflow: visible;
    box-shadow: 0 2px 7px rgba(0,0,0,0.31), 0 2px 2px rgba(0,0,0,0.24);
}