/* .card {
  margin: 20px;
  width: 18rem;
}

.card-title {
  margin-bottom: 15px;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
} */

.card {
  color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
  margin-right: 2rem;
  position: relative;
  width: 12rem;
  height: 19rem;
  background: lightgrey;
  z-index: 1;
  border-radius: 21px;
  overflow: hidden;
 }
 #ligth .card{
  box-shadow: #9700bddb 0 15px 40px -5px;
 }

#dark .card{
  box-shadow: #000000 0 20px 40px 10px;
}
 .card-body {

  margin-top: 0px !important;
  padding-top: 0px !important;
} 
.temp{

  position: relative;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.card-body h1{
  font-size: 22px;
}
 .card__content {
  z-index: 1;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 21px;
 }
 #ligth .card__content{
  background: linear-gradient(rgba(20 170 183 / 83%), rgba(251 0 255 / 70%)); }

#dark .card__content{
  color: white;
  background: linear-gradient(rgb(0 146 157), rgb(129 0 131 / 85%));
}
 .col-sm-4 .col-md-4 .col-lg-4{
  width: none !important ;  
 }
 .card .blob {
  position: absolute;
  z-index: -1;
  border-radius: 5em;
  width: 221px;
  height: 232px;
 }
 
 .card .blob:nth-child(2) {
  left: -50px;
  top: -90px;
  background: #005ed3;
 }
 
 .card .blob:nth-child(3) {
  left: 110px;
  top: -20px;
  z-index: -1;
  width: 700rem;
  background: #005ed3;
 }
 
 .card .blob:nth-child(4) {
  left: -40px;
  top: 133px;
  background: black;
 }
 
 .card .blob:nth-child(5) {
  left: 100px;
  top: 140px;
  width: 700rem;
  background:  black;
 }
 #closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}
/* From uiverse.io by @bhaveshxrawat */
.buttonInfo {
  background-color: #ffffff57;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: .25px;
  line-height: normal;
  padding: 11px 24px;
  transition: background box-shadow 280ms ease;
 }
 
 .buttonInfo:hover {
  background: #F6F9FE;
  color: #174ea6;
 }
 
 .buttonInfo:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
  border: 2px solid #4285f4;
 }
 